.agency {
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    padding: 0 0 150px 0;

    @media (max-width:$md3+px) {
        padding: 0 0 35px 0;


    }

    &__content {}

    &__title {
        font-weight: bold;
        font-size: adaptiv-on-width(57, 27);
        line-height: adaptiv-on-width(65, 35);
        margin: 0 0 25px 0;
    }

    &__block-text {}

    &__text {
        display: block;
        max-width: 740px;
        font-style: normal;
        font-weight: 300;
        font-size: adaptiv-on-width(24, 14);
        line-height: adaptiv-on-width(51, 21);
        margin: 25px 0 80px 0;

        @media (max-width:$md3+px) {
            margin: 25px 0 40px 0;

        }
    }

    &__button {
        width: 235px;
        height: 60px;
        font-size: 24px;
        border-radius: 10px;

        @media (max-width:$md3+px) {
            width: 200px;
            height: 50px;
            font-size: 20px;
        }
    }

    *:last-child {
        margin: 0 0 0 0;
    }
}