.clients {
    min-height: 50vh;
    padding: 0 0 150px 0;

    &__content {
        display: grid;
        grid-template: repeat(3, 120px) / repeat(4, 2fr);

        @media (max-width:$md3+px) {
            grid-template: repeat(6, 120px) / repeat(2, 2fr);
        }

        @media (max-width:$md4+px) {
            grid-template: repeat(12, 120px) / repeat(1, 2fr);
        }
    }

    a {
        margin: auto;
        padding: auto;

    }

    &__img {
        transition: 0.3s ease 0s;

        @media (min-width:$md3+px) {
            &:hover {
                filter: drop-shadow(0px 0px 15px rgb(150, 148, 148));
            }

        }
    }
}