$maxWidth: 1920;
$maxHeight: 1447;

@function adaptiv-on-width($pcSize, $mobSize){
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 320;
	@return calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}