.team {
    min-height: 50px;
    padding: 0 0 100px 0;

    &__content {
        display: grid;
        grid-template: repeat(3, 150px) / repeat(3, 2fr);

        @media (max-width:$md3+px) {
            grid-template: repeat(9, 120px) / repeat(1, 2fr);
        }
    }

    &__item {
        width: 250px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;

        *:last-child {
            margin: 0 0 0 0;
        }
    }

    &__employee {
        border-radius: 100%;
    }

    &__about {
        // padding: 0 0 0 30px;
    }

    &__name {
        font-weight: bold;
        font-size: 28px;
        line-height: 32/28 *100%;
        margin: 0 0 20px 0;

    }

    &__position {
        color: #B2B2B2;
        line-height: 16/14 *100%;
    }
}